<!DOCTYPE html>
<html>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" ></script>
  <script type="text/javascript">
  $(function(){
    var renderResults = (function(jqXHR){
        $('#response').html([jqXHR.status, jqXHR.getAllResponseHeaders(), JSON.stringify(jqXHR.responseJSON, null, 4)].join("\n"))
    })
    var submitQuery = (function(phrase){
      $.get('http://localhost:9292', { "SPOKEN_COMMAND": phrase })
       .done(function(data, textStatus, jqXHR){ 
         renderResults(jqXHR) })
       .fail(function(jqXHR){ 
         renderResults(jqXHR) })
    }) 

    /** speech detection */
    $('#detect_speech').on('click', function(){
      var recognition = new webkitSpeechRecognition();
      recognition.onresult = function(event) { 
        submitQuery(event['results'][0][0]['transcript'])
      }
      recognition.start();
    })

    /** text input **/  
    $('#submit-phrase').on('click', function(){
      submitQuery($('#phrase').val())
    })
  })
  </script>
  <style type="text/css">
    pre{ border:1px solid #333 ; padding:7px }
  </style>
  <body>
    <button id="detect_speech">Detect Speech</button>
    <div>or</div>
    <label for="phrase">Phrase: </label><input type="text" id="phrase" name="SPOKEN_COMMAND" />
    <button id="submit-phrase">Submit</button>
    <h1>Response Debugger</h1>
    <pre id="response"></pre>
  </body>
</html>
